.buttonComponent {
    padding: 8px 16px;
    font-size: 12px;
    background-color: var(--color-1);
    border-radius: 6px;
    transition: all 0.2s;
}

.redStyle {
    background-color: var(--color-4);
}

.buttonComponent:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.buttonComponent:active {
    transform: scale(0.95);
}

.disabled {
    opacity: 0.7;
    box-shadow: none !important;
    transform: none !important;
    filter: none !important;
    cursor: default !important;
    pointer-events: none;
}

.loadingSvg {
    width: 2rem;
}

@media (max-width: 1199px) {
    .buttonComponent:hover {
        filter: none;
    }
}

@media (max-width: 767px) {
    .buttonComponent:active {
        transform: scale(0.9);
    }
}